{%extends 'base.html'%}
{%load bootstrap4%}
{%load static%}
{% block content %}


<div class="jumbotron">
  <h1 class="display-3">Hello, Welcome to CHIRO!</h1>
  <p class="lead">This is a simple platform to facilitate buying or selling  fresh farm produce.By using our platform, you  will deal directly with the  farmer and avoid extra charges or fraud </p>
  <hr class="my-2">
  <p>Chiro allows you to Sign in as a Farmer, in any  field of farming and lets you  display  your products for free withouth paing  for  market space. Sell at the comfort of your Farm.
     </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/accounts/register/" role="button">REGISTER TO BEGIN BUYING</a>
  </p>
</div>


  {% if user.is_authenticated %}


  {% else %}
  <section>

    <p>Sign-in to  buy or sell your farm produce</p>
    <form  action="/accounts/register/" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="form-group">
        <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
      </div>
      <input type="hidden" name="next" value="{{next}}">

    </form>
  </section>
  {% endif %}
</div>

{% endblock %}





